In [4]:
pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\dell\appdata\roaming\python\python39\site-packages (0.2.31)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: html5lib>=1.1 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.31 in c:\users\dell\appdata\roaming\python\python39\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2022.9.14)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import pickle
import math
from sklearn.linear_model import LinearRegression
import os
from datetime import date
#import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import yfinance as yf  # We will use this library to upload latest data from Yahoo API

In [9]:
ticker='AAPL'
START = "2015-01-01"
TODAY = date.today().strftime("%Y-%m-%d")
#fetch stock prices for specified period
data =yf.download(ticker,start=START, end=TODAY)

#print the fetch stock prices
print(data)

[*********************100%%**********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   27.847500   27.860001   26.837500   27.332500   24.498688
2015-01-05   27.072500   27.162500   26.352501   26.562500   23.808514
2015-01-06   26.635000   26.857500   26.157499   26.565001   23.810755
2015-01-07   26.799999   27.049999   26.674999   26.937500   24.144632
2015-01-08   27.307501   28.037500   27.174999   27.972500   25.072329
...                ...         ...         ...         ...         ...
2023-10-30  169.020004  171.169998  168.869995  170.289993  170.289993
2023-10-31  169.350006  170.899994  167.899994  170.770004  170.770004
2023-11-01  171.000000  174.229996  170.119995  173.970001  173.970001
2023-11-02  175.520004  177.779999  175.460007  177.570007  177.570007
2023-11-03  174.240005  176.820007  173.350006  176.649994  176.649994

               Volume
Date
2015-01-02  212818400
2015-01-05  257142000
2015-01-06  263188400
2015-01-07  160423600
2015-01-08  237458000
...               ...
2023-10-30   51131000
2023-10-31   44846000
2023-11-01   56934900
2023-11-02   77334800
2023-11-03   79763700

[2226 rows x 6 columns]

In [10]:
da=pd.DataFrame(data)

da.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.498688  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.808514  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.810755  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.144632  160423600
2015-01-08  27.307501  28.037500  27.174999  27.972500  25.072329  237458000

In [11]:
da.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2226 entries, 2015-01-02 to 2023-11-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2226 non-null   float64
 1   High       2226 non-null   float64
 2   Low        2226 non-null   float64
 3   Close      2226 non-null   float64
 4   Adj Close  2226 non-null   float64
 5   Volume     2226 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 121.7 KB

In [12]:
X = da[['High', 'Low', 'Open', 'Volume']].values  # x features
y = da['Close'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=False)


print(X_train.shape )
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1780, 4)
(446, 4)
(1780,)
(446,)

In [13]:
# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
# Predict the stock prices for the test data
y_pred = model.predict(X_test)

print(y_pred)

[160.40100966 167.3498358  173.62847898 173.24755071 174.44894002
 174.04967812 172.81008177 172.18079381 174.41121044 175.48784722
 173.17894414 169.63368945 168.45984164 171.93233107 171.60979428
 169.70979617 167.5863627  164.1860105  161.66348976 160.83985845
 162.57314948 164.41230934 164.14847549 165.69839934 166.50907209
 163.45217941 161.45249008 159.92043196 161.42967239 157.08613328
 155.81226168 152.56885587 154.36549335 157.51527151 159.75797275
 163.16358881 165.37183535 168.2358793  171.53101095 172.86824702
 174.02644907 174.88171255 178.17867736 177.86707076 175.25347276
 173.00959075 177.62769128 175.72190304 171.60113786 171.88020599
 169.67412031 166.43878368 168.39052086 169.878591   166.92848286
 165.76645699 166.42382433 166.71236902 168.7803635  163.87675674
 160.74822145 158.11069476 158.67451257 163.34134013 162.06785935
 155.3086638  158.82801587 165.04928091 157.38764611 157.43178863
 152.98745831 154.47518281 149.41494473 142.63897163 146.35615051
 146.07094988 147.87615447 142.0773549  138.84408872 135.60923415
 142.23397558 139.1095253  141.08919498 143.06021498 148.81688317
 148.62533864 149.69692173 149.92141301 145.86600082 146.63784485
 148.02048499 148.7037036  144.36867864 138.18373968 133.6631611
 132.42262532 135.22340538 129.97047709 132.29239088 136.33251357
 136.56179575 137.32208609 141.35548665 141.95194435 139.60842013
 139.50451435 135.52487751 138.19596542 140.32152696 143.37269743
 145.92677844 146.87079429 144.96232409 147.38642953 145.18070474
 147.51940368 149.37436694 148.34546585 149.86273574 152.63708485
 153.37991613 154.52706785 153.45924075 151.73158007 156.19265636
 155.48103233 161.82069039 162.94099457 161.55158945 165.54098823
 165.67301834 165.13131847 165.83181736 164.80294294 168.32245842
 169.28844298 171.3183231  172.78581623 172.54217961 175.30926385
 174.04975149 172.1607116  167.76233768 167.95893286 167.00846219
 169.4226353  165.70164338 161.48650321 159.1020166  158.03036694
 156.5512149  156.61813072 154.79126427 155.33299169 154.50333817
 156.7807286  163.19623996 155.50859536 155.72440415 152.58631275
 149.02504508 153.51289288 157.00366922 155.63113105 152.92029984
 149.31938835 152.99954992 152.23751946 147.98822493 142.51147114
 140.28321063 141.85187626 145.30355329 145.98649885 146.69323704
 140.60577879 140.17872653 139.76305947 139.31713176 141.82015932
 139.89061934 141.88799571 142.82186226 144.2034557  145.06065627
 146.84013163 148.77445622 151.44323654 149.53891809 145.86542352
 155.75332926 152.97828849 150.90617131 148.6947793  140.11775396
 136.82219789 137.65997742 138.99956959 135.54813829 144.66692026
 148.20938466 148.79653041 150.55982899 148.25077292 150.4149179
 150.75448748 148.39042163 149.0683101  151.24259918 147.76950434
 144.98386248 141.70863929 146.94039197 147.65703161 147.31549811
 148.87192989 143.37418328 141.45217074 142.27700271 143.91954821
 142.89493046 145.91089019 143.27517367 137.85456226 135.16159411
 132.28271578 131.75515388 135.96218261 131.44297285 131.1394684
 129.32578203 127.94707557 129.80116991 128.87619592 126.23676873
 126.95564144 125.81530355 128.75690722 132.44112319 129.4282756
 132.4781784  132.28184573 134.11357415 136.29349314 136.91040874
 135.57610887 136.71725093 142.29371179 142.59580427 140.54927984
 143.01371154 146.44861299 143.7646503  143.6346323  144.16339721
 150.12367307 155.76294952 151.53380552 154.41583939 152.33217329
 151.64029331 150.7248491  153.6036206  152.44458498 154.81346723
 155.63535419 151.63358958 149.67113281 148.38869923 148.0674789
 145.98923136 148.60639204 148.46870904 145.67935374 145.877076
 149.99687433 155.51088437 151.93621503 152.48229437 151.81764957
 148.77155363 152.15530208 152.06491426 151.85608632 155.31179222
 155.12458196 156.58228791 158.34546591 160.47180896 160.14755788
 159.20474241 158.96044243 156.78608433 160.60354411 161.9444906
 164.05586135 165.76466752 165.51464178 162.67471097 164.10631572
 160.77331605 160.82064139 160.70043546 164.87781824 165.31962389
 164.37151302 166.69077985 167.44249975 167.03058402 165.63681833
 164.50646739 164.8928316  164.58743485 167.88807404 169.00143927
 169.60481652 168.25283278 168.81323637 166.10070833 173.43490246
 173.16426388 172.19893295 172.85295578 173.0470536  171.88414831
 171.75875437 172.62181184 171.60342688 174.39810171 175.09966951
 173.99758796 171.77939759 171.60537054 172.94739772 175.05764333
 178.19531482 178.39913966 178.99210309 180.14939655 181.0493035
 178.01483747 179.78820532 179.89276401 181.255552   183.0758485
 183.4547     183.02412372 185.78758203 184.89196303 185.61905701
 183.42325095 186.30830476 186.64538392 186.47778434 187.64219717
 189.13795098 189.5727829  193.54617415 192.14902374 191.84131384
 191.00818859 191.39328523 188.02423495 187.17547123 190.29018676
 190.3157781  190.35847283 193.66445708 193.25730368 196.94198023
 194.14288369 192.50235747 193.60623556 193.73077072 194.85483686
 194.272888   195.71444078 195.58300013 195.70224722 192.58936412
 191.35196172 184.24830874 179.28103887 178.41629712 177.88984009
 178.98031442 177.64928374 178.74758127 177.84154908 177.65901921
 174.57673444 174.24676958 174.79637548 176.77582127 180.76776983
 177.4410815  177.55109499 179.17032954 183.8256617  187.05868514
 188.42035589 188.7269733  189.01202549 183.52671376 176.35545187
 179.3327322  178.05152693 176.41653451 175.11318863 175.27728799
 174.304424   178.52332505 178.82642324 176.61472223 175.32655383
 176.07466062 176.33462619 172.62986834 170.17306679 170.20897622
 171.48880635 173.45394312 172.1804237  173.48052488 174.19731519
 176.75432815 177.7916498  179.15651875 178.95689871 181.04800929
 179.25229476 178.35653866 176.61044602 176.73520149 176.74463754
 173.23615052 172.66409204 172.20525739 171.78188856 167.62693438
 168.40316231 170.55042806 169.42841494 172.93820168 177.18164213
 175.58498549]

In [15]:

dframe=pd.DataFrame({'Actual':y_test.flatten(),'Predicted':y_pred.flatten()})
dframe.head(25)

        Actual   Predicted
0   159.220001  160.401010
1   170.330002  167.349836
2   174.779999  173.628479
3   174.610001  173.247551
4   175.839996  174.448940
5   172.899994  174.049678
6   172.389999  172.810082
7   171.660004  172.180794
8   174.830002  174.411210
9   176.279999  175.487847
10  172.119995  173.178944
11  168.639999  169.633689
12  168.880005  168.459842
13  172.789993  171.932331
14  172.550003  171.609794
15  168.880005  169.709796
16  167.300003  167.586363
17  164.320007  164.186011
18  160.070007  161.663490
19  162.740005  160.839858
20  164.850006  162.573149
21  165.119995  164.412309
22  163.199997  164.148475
23  166.559998  165.698399
24  166.229996  166.509072

In [16]:
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred))
print('Mean Square Error:',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error: 0.802487929764573
Mean Square Error: 1.0058822552985862
Root Mean Squared Error: 1.0029368152075115

In [19]:
# Save the model to a file
joblib.dump(model, 'linear_regression_model.pkl')

['linear_regression_model.pkl']

In [21]:
import os

# Specify the directory where you saved the model file
model_directory = "C:\Users\Dell"

# Specify the model file name
model_filename = "linear_regression_model.pkl"

# Get the absolute file path
model_file_path = os.path.join(model_directory, model_filename)

# Print the file path
print("Model file path:", model_file_path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2637637472.py, line 4)

In [1]:
import os
print(os.getcwd())

C:\Users\Dell\Stock_Price

In [2]:
!streamlit run stock.py

Usage: streamlit run [OPTIONS] TARGET [ARGS]...
Try 'streamlit run --help' for help.

Error: Invalid value: File does not exist: stock.py